body,
html {
  height: 100%;
  margin: 0 auto;
}

#buttons {
  text-align: center;
}

#frame {
  text-align: center;
  margin: 20px auto;
  height: 700px;
  width: 600px;
  background-color: red;
  border: 5px solid black;
  border-radius: 10px;
  position: relative;
}

#mainScreen {
  display: inline-block;
  margin-top: 20px;
  height: 500px;
  width: 500px;
  background-color: white;
  border: 5px solid black;
  border-radius: 10px;
}

.button {
  height: 80px;
  width: 80px;
  background-color: white;
  border: 5px solid black;
  border-radius: 100%;
}

.pixel {
  display: inline-block;
  float: left;
}

#input {
  top: 64px;
  left: 269px;
  display: inline-block;
}

#randomButton {
  top: 92px;
  left: 153px;
  display: inline-block;
}

#updateGrid {
  top: 64px;
  left: 352px;
}

h1 {
  text-align: center;
}
