body, html{
	height: 100%;
	margin:0 auto;
}

#frame{
	margin:20px auto;
	height: 700px;
	width:600px;
	background-color: red;
	border:5px solid black ;
	border-radius: 10px;
	position: relative;

}

#mainScreen{
	
	display: inline-block;
	margin:55px 0 0 0;
	height: 500px;
	width: 500px;
	background-color: white;
	border:2px solid black;
	border-radius: 10px;
	position: absolute;
	left:50px;
	
}

.button{

	display: block;
	height: 80px;
	width: 80px;
	background-color: white;
	border:5px solid black;
	border-radius: 100%;
}

.pixel{
	display: inline-block;
	float: left;
}

#reset{
	position: absolute;
	top:  64px;
	left: 166px;
	

}

#input{

	position: absolute;
	top:64px;
	left:269px;
	display: inline-block;
	
}
#random{
	 position: absolute;
	 top: 92px;
	 left: 153px;
	 display: inline-block;
}
#updateGrid{
	position: absolute;
	top:64px ;
	left:352px;
}

h1{
	text-align: center;
}
